.bit {
    background-color: black;
    border: 1px solid whitesmoke;
    font-weight: bold;
    padding-left: max(0.1vh, 1vw);
    padding-right: max(0.1vh, 1vw);
    text-align: center;
    cursor:pointer;
    color: white;
    font-size: clamp(2.5rem, calc((100vw - var(--sidebar-size-func) - 20px) / 10), 5rem);
}

span.spacer {
    width: max(0.1vh, 1vw);
}