div.interaction {
    display : flex;
    justify-content: center;
    column-gap: 4px;
    height: 400px;
    width: 100vw; /* Adjust container width as needed */
}


div.bits {
    flex-direction: row-reverse;
}

.control {
    display:flex;
    justify-content: center;
    flex-direction: row;
    max-height: 150px;
    margin: auto;
    flex-wrap:wrap;
}

.control input {
    background-color: rgb(236, 236, 233);
    font-size: 48px;
}

.buttons {
    margin-left: 50px;
}

.control button {
    appearance: button;
    height: 60px;
    margin-top: 20px;
    margin-left: 3px;
    margin-right: 3px;
    width: 100px;
}

.control label {
    color: white;
}

.control label, input {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    width:180px;
}
