/* .control {
    padding: 10px;
    margin: 0px;   
    min-width: 400px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    gap: 1em;
}

.control input {
    background-color: rgb(236, 236, 233);
    font-size: 2rem;
    display: flex;
    flex-flow: column;
}

.control button {
    -webkit-appearance: button;
    appearance: button;
    height: 50px;
    width: 100px;
}

.control label {
    color: white;
    margin-bottom: 2px;
    font-size: clamp(0.5rem, 90%, 5rem);
    display: flex;
    flex-flow: column;
    /* border:1px solid white;
}

/* .inc-dec {
    float:right;
    display:flex;
    flex-direction: column;
    color:aliceblue;
} */

