.control {
    padding: 10px;
    margin: 0px;   
    min-width: 400px;
    width: 40vw;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    gap: 1em;

}

.value-control-item {
    display: flex;
    flex-direction: column;
}

.value-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1em;
}

.control input {
    background-color: rgb(236, 236, 233);
    font-size: 36px;
    width:180px;
}

.control button {
    appearance: button;
    -webkit-appearance: button;
    height: 50px;
    margin-top: 20px;
    margin-left: 3px;
    margin-right: 3px;
    width: 100px;
}

label {
    color: white;
    width: 100%;
    margin-bottom: 2px;
    /* border:1px solid white; */
}

.inc-dec {
    float:right;
    display:flex;
    flex-direction: column;
    color:aliceblue;
}

