.App {
  text-align: center;
}

.App header {
  margin-bottom: 0;
  padding: 1rem;
  font-size: clamp(0.875rem, 2vw, 1.5rem);
  font-weight: bold;
  font-family: monospace;
  background-color: whitesmoke;
  max-height: 85px;
}

.App footer {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background-color: whitesmoke;
  min-height:1.5rem;
  max-height:1.5rem;
}